:root {
    --active : rgba(255, 108, 0, 1);
    --header-footer : rgba(5, 30, 40, 1);
    --optional : rgba(28, 75, 243, 1);
    --font-main-color : rgba(5, 30, 40, 1);
}

@font-face {
    font-family: Trirong-ExtraLight-Italic;
    src: url(../fonts/Trirong-ExtraLightItalic.ttf);
}
@font-face {
    font-family: SairaCondensed-Bold;
    src: url(../fonts/SairaCondensed-Bold.ttf);
}

@font-face {
    font-family: SairaCondensed-Light;
    src: url(../fonts/SairaCondensed-Light.ttf);
}

@font-face {
    font-family: SairaCondensed-Medium;
    src: url(../fonts/SairaCondensed-Medium.ttf);
}

@font-face {
    font-family: Sarabun-Light;
    src: url(../fonts/Sarabun-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
}
*::before, *::after {
    position: absolute;
    bottom: 0;
    left: 0;
}



::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--font-main-color);
}
body {
    scroll-behavior: smooth;
}
