footer {
    background-color: var(--header-footer);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0 .75rem;
    max-width: 100vw;
}
footer > div.logo {
    font-size: 20px;
    line-height: 25px;
    color: white;
    display: flex;
    justify-content: center !important;
}

footer > div.logo *{
       
    font-family: SairaCondensed-Bold ;
}

footer a {
    font-family: SairaCondensed-Light;
}
footer nav {
    height: fit-content;
}
footer > .icons > svg {
    margin: .25rem;
}
footer p {
    font-family: SairaCondensed-Light;
    color: white;
}