@import url(./header.css);
@import url(./footer.css);

#home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(270deg, #131E24 97.31%, rgba(19, 30, 36, 0) 202.13%);
    background-size: 200%;
    background-position: right;
    
}
#home > img{
    position: absolute;
    background: linear-gradient(270deg, #131E24 3.77%, rgba(0, 0, 0, 0) 48.29%), url(kir-simakov-1y5PkTZOMbQ-unsplash.jpg);
    right: 0;
    width: 80%;
    height: 100%;
    z-index: 0;
}
#home > section {
    padding: 3rem 0 2rem;
    position: absolute;
    height: 100%;
    left: 160px;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    row-gap: 2rem;
}
#home > section > h1 {
    color: white;
    font-size: 150px;
    line-height: 120px;
}

#home > section > p, #home > section p * {
    color: white;
    font-family: myFont-light;
    font-size: 45px;
    line-height: 40.5px;
}

#home > section > p > span {
    display: block;
}

#home > section > .buttons {
    display: flex;
    height: 56px;
    gap: 2rem;
}
#home > section > .buttons * {
    border: none;
    color: white;
    font-family: second-font-light;
    padding: 18px 32px;
    font-size: 23px;
    display: flex;
    align-items: center;
}

#home > section > .buttons > button:last-child {
    background-color: #084A64;;
}

#home > section > .buttons > button:first-child {
    background-color: var(--active);
}

