


#one {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(270deg, #131E24 97.31%, rgba(19, 30, 36, 0) 202.13%);
    background-size: 200%;
    background-position: right;
}
#one > img{
    position: absolute;
    background: linear-gradient(270deg, #131E24 3.77%, rgba(0, 0, 0, 0) 48.29%), url(kir-simakov-1y5PkTZOMbQ-unsplash.jpg);
    right: 0;
    width: 80%;
    height: 100%;
    z-index: 0;
}
#one > section {
    padding: 3rem 0 2rem;
    position: absolute;
    height: 100%;
    left: 160px;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    row-gap: 2rem;
}
#one > section > h1 {
    color: white;
    font-size: 150px;
    line-height: 120px;
}
#one > section > h1 , #one > section > h1 * {
    font-family: SairaCondensed-Bold;
}
#one > section > p, #one > section p * {
    color: white;
    font-family: SairaCondensed-Light;
    font-size: 45px;
    line-height: 40.5px;
}

#one > section > p > span {
    display: block;
}

#one > section > .buttons {
    display: flex;
    height: 56px;
    gap: 2rem;
}
#one > section > .buttons * {
    border: none;
    color: white;
    font-family: Sarabun-Light;
    padding: 18px 32px;
    font-size: 23px;
    display: flex;
    align-items: center;
}

#one > section > .buttons > button:last-child {
    background-color: #084A64;;
}

#one > section > .buttons > button:first-child {
    background-color: var(--active);
}



#two {
    margin-top: 100px;
    padding: 4rem 160px;
    height: 100%;
    display: grid;
    place-content: center;
    row-gap: 100px;
}
#two > section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 100px;
    flex-direction: row;
}
#two > section > * {
    flex-basis: 400px;
    flex-grow: 1;
}

#two > section:last-child {
    flex-direction: row-reverse;
}
#two > section > div{
    display: flex;
    flex-direction: column;
    align-items: start !important;
}
#two > section:last-child > div:last-child {
    align-items: end;
}
#two > section > div > h2{ 
    position: relative;
    font-size: 42px;
    line-height: 42px;
    width: 80%;
    text-transform: uppercase;
    padding-left: 1.25rem;
    color: var(--font-main-color);
    font-family: SairaCondensed-Bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



#two > section > div h2::before{ 
    content: '';
    position: absolute;
    height: 100%;
    width: .5rem;
    background-color: var(--optional);
}

#two > section > div > p{
    line-height: 34px;
    font-family: SairaCondensed-Light !important;
    width: 80%;
    text-align: justify;
} 

#two > section > figure {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
}
#two > section:first-child > figure::after{ 
    left: 50%;
    transform: translateX(-30%) translateY(-70%);
}

#two > section:first-child > figure::before{
    left: 50%;
    transform: translateX(-70%) translateY(-50%);
}
#two > section > figure::before {
    position: absolute;
    content: "";
    width: 60%;
    min-width: 300px;
    aspect-ratio: 8 / 7;
    object-fit: cover;
    top: 50%;
    left: 50%; transform: translateX(-30%) translateY(-50%);
    background-image: url(../images/black_and_white_photographic_accounting_service_website_1_2/black_and_white_photographic_accounting_service_website_1_2_4x.webp);
    background-size: cover;
    z-index: 50;
}

#two > section > figure::after{ 
    content: "";
    top: 50%;
    z-index: 75;
    width : 60%;
    min-width: 300px;
    aspect-ratio: 6 / 4;
    background-color: var(--font-main-color);
    left: 50%;
    transform: translateY(-70%) translateX(-70%);
}

#two > section > figure > img {
    object-fit: cover;
    width : 60%;
    min-width: 300px;
    aspect-ratio: 6 / 4;
}



 #mid-bg {
    width: 100%;
    background-image: url(../images/bg_img_center/bg_img_center_4x.webp);
    padding: 2rem 5rem;
    background-repeat: no-repeat;
    background-size: cover;
 }
 #mid-bg > h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: SairaCondensed-Bold;
 }
 #mid-bg > h2 > span {
    display: inline;
    font-family: SairaCondensed-Bold;
 }

#services {
    padding: 4rem 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#services > div {
    height: clamp(fit-content, 600px, 100%); flex-basis: 356px;
    background-color: rgba(244, 244, 244, 1);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.55);
    padding: 3rem 1.75rem 1rem;
    color: var(--font-main-color);
    min-width: 300px;
    
}
#services > div > i {
    position: relative;
    font-size: 50px;
}
#services > div > i::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--active);
}
#services > div > h2 {
    font-family: SairaCondensed-Bold;
    font-size: 43px;
}
#services > div > p{
    font-family: SairaCondensed-Light;
}

#services > div:hover svg > *, #services > div:hover > *{
    color: white;
    fill: white;
}
#services > div:hover {
    background-color: var(--font-main-color);
    cursor: pointer;
}





#products {
    padding: 5rem 50px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-auto-rows: 450px;
    place-content: center;
    column-gap: 100px;
    row-gap: 50px;
    
}
#products > div {
    border-bottom: 5px solid var(--active);
    box-shadow: 0px 9px 68px rgba(0, 0, 0, 0.29);
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    transition: all .25s .15s linear;
}
#products > div:hover > svg path{
    transition: all .25s .15s linear;
}
#products > div > h2 {
    font-size: 30px;
    color: var(--font-main-color);
    transition: all .25s .15s linear;
} 
#products > div > p {
    font-family: Roboto-Light;
    color: rgba(122, 123, 122, 1);
}
#products > div >  * {
    font-family: Roboto-Bold;
}
#products > div:hover {
    cursor: pointer;
}
#products > div:hover > h2 {
    color: var(--active);
}
#products > div:hover > svg path{
    fill: var(--active);
}
#products > div:hover{
    border-bottom: 5px solid var(--font-main-color);
} 